.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.fade-left {
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 100%
    );
    mask-size: 100% 100%;
}

.fade-both {
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    mask-size: 100% 100%;
}

.fade-right {
    mask-image: linear-gradient(
        to right,
        black 0%,
        black 90%,
        transparent
    );
    mask-size: 100% 100%;
}

.booksContainer:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 2px oklch(75% 0.183 55.934);
    background-color: oklch(44.6% 0.03 256.802);
}

.booksContainer:focus-visible {
  outline: none;
}